body {
background: black;
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#arrowR {
	z-index: 99999;
	width: 4%;
	position: relative;
	top: 50%;
	left: 90%;
}

#arrowL {
	z-index: 99999;
	width: 4%;
	position: relative;
	top: 50%;
	left: 0%;
	-webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}